@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "black";
    default: true;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0.005 285.823);
    --color-base-200: oklch(21% 0.006 285.885);
    --color-base-300: oklch(27% 0.006 286.033);
    --color-base-content: oklch(96% 0.001 286.375);
    --color-primary: oklch(87% 0.006 286.286);
    --color-primary-content: oklch(14% 0.005 285.823);
    --color-secondary: oklch(86% 0.005 56.366);
    --color-secondary-content: oklch(14% 0.004 49.25);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(44% 0.017 285.786);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0 0);
    --color-base-200: oklch(96% 0.001 286.375);
    --color-base-300: oklch(92% 0.004 286.32);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(55% 0.016 285.938);
    --color-primary-content: oklch(98% 0 0);
    --color-secondary: oklch(55% 0.013 58.071);
    --color-secondary-content: oklch(98% 0.001 106.423);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(100% 0 0);
    --color-neutral: oklch(37% 0.013 285.805);
    --color-neutral-content: oklch(98% 0 0);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(64% 0.222 41.116);
    --color-warning-content: oklch(98% 0.016 73.684);
    --color-error: oklch(58% 0.253 17.585);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 0.25rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
